@model IEnumerable<SmartOnlineFurniture.Models.Products> 
    @*@model SmartOnlineFurniture.Models.Products*@

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   
}

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(/Content/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
                        <h1 class="mb-2">We serve Creative Design &amp; Sell</h1>
                        <h2 class="subheading mb-4">We deliver organic Wood &amp; furniture</h2>
                        <p><a href="#" class="btn btn-primary">View Details</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(/Content/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                        <h1 class="mb-2">100% &amp; Orginal Wood</h1>
                        <h2 class="subheading mb-4">We deliver Orginal Furniture &amp; Creative Design</h2>
                        <p><a href="#" class="btn btn-primary">View Details</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
                @*@using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.TextBox("searching")<input type="submit" value="Search"/>

                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyId, "CompanyName", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CompanyId", null, "--Select Company--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, "CategoryName", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryId", null, "--Select Category--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }*@
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Featured Products</span>
                <h2 class="mb-4">Our Products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
    </div>
    <div class="container">
@using (Html.BeginForm())
            {
    @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            <div class="form-group">
                <div class="col-md-10">
                    
                    <select name="CompanyName" class="selectpicker" data-style="btn-success" style="border-radius:20px;height:40px;width:220px;padding-left:10px;" >
                        <option value="0">--Select Company--</option>
                        <option value="RFL">RFL</option>
                        <option value="Hatil">HATIL</option>
                        <option value="Regal">REGAL</option>
                        <option value="Otobi">OTOBI</option>
                    </select>
                    <select name="CategoryName" class="selectpicker" data-style="btn-success" style="border-radius:20px;height:40px;width:220px;padding-left:10px;">
                        <option value="0">--Select Category--</option>
                        <option value="Bedroom Chair">Bedroom Chair</option>
                        <option value="Bedroom Sofa">Bedroom Sofa</option>
                        <option value="Bedroom Bed">Bedroom Bed</option>
                        <option value="Dining room Table">Dining room Table</option>
                        <option value="Dining room Sofa">Dining room Sofa</option>
                        <option value="Dining room Chair">Dining room Chair</option>
                    </select>
                    <input type="text" name="searching" class="txtdesign" placeholder="Product Name"/><input type="submit" value="Search" class="btn btn-success" />
                    </div>
                </div>
            <br />
        </div>
}

        <div class="row">
            @if(Model.Count()==0)
            {
                <div colspan="3" style="color:red;padding-left:400px;padding-top:40px;">
                    No Match Any Document
                </div>
            }
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3 ftco-animate">

                    <div class="product">
                        <a href="#" class="img-prod">
                            <img src="@Html.DisplayFor(modelItem => item.ProductImage)" alt="Colorlib Template" width="255" height="170">
                            @*<span class="status">30%</span>*@
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">@Html.DisplayFor(modelItem => item.Companies.CompanyName)</a></h3>
                            <h3><a href="#">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">@*<span class="mr-2 price-dc">70,000BDT</span>*@<span class="price-sale">@Html.DisplayFor(modelItem => item.Price) BDT</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                   
                                       <button style="background-color:#90ba5e;border-radius:20px;border:none;">@Html.ActionLink("Details", "ProducDetails", new { id = item.ProductId })</button> 
                                      
                                        @*<a href="#" class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>*@
</div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Testimony</span>
                <h2 class="mb-4">Our satisfied customer says</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/Content/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Garreth Smith</p>
                                <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/Content/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Garreth Smith</p>
                                <span class="position">Interface Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/Content/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Garreth Smith</p>
                                <span class="position">UI Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/Content/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Garreth Smith</p>
                                <span class="position">Web Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/Content/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Garreth Smith</p>
                                <span class="position">System Analyst</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

